<div class="container">
  <p id="title">CONTACTEAZĂ-NE</p>
  <div class="red-line"></div>
  <div class="banner-content">
    <p id="head">Hai să vorbim.</p>
    <p>
      
      Ai intrebări sau vrei să ne comunici ceva? Contactează-ne!
      Suntem aici pentru tine si promitem să raspundem cat mai repede.
      Trimite-ne un mesaj pe rețelele de socializare,
      sună-ne, scrie-ne un e-mail sau
      folosește formularul de pe acesta pagină.
    </p>
  </div>
</div>
<div class="contacts">
  <div class="banner-contact-row">
    <img src="phone.svg" alt="telefon">
    <div class="">+40 729 709 719</div>
  </div>
  <div class="banner-contact-row">
    <img src="email.svg" alt="mail">
    <div class="">contact&#64;vanadio.ro</div>
  </div>
  <div class="banner-contact-row">
    <img src="site.svg" alt="site">
    <div class=""><a href="https://www.vanadio.ro">vanadio.ro</a></div>
  </div>
</div>
<div class="form-div">
  <div class="registration-background">
    <div class="registration-content">
      <form>
        <input type="text" id="name" placeholder="NUME" class="input-field">
        <input type="text" id="address" placeholder="E-MAIL" class="input-field">
        <textarea placeholder="MESAJ" class="input-field"></textarea>
        <div class="button-background">
          <button class="button-for-page">TRIMITE</button>
        </div>
      </form>
    </div>
    <div class="socials">
      <app-socials class="socials-centering"></app-socials>
    </div>
  </div>
</div>

