<nav>
    <div class="mobile-header-menu">
        <div class="mobile-header">
            <a routerLink="/"><img src="/logo-horizontal.svg" alt="Vanadio" class="logo"></a>
            <button (click)="openMenu()" class="menu">
            </button>
        </div>
        <app-header-menu *ngIf="menuToggle"></app-header-menu>
    </div>
    <ul>
        <li><a [ngClass]="isActive('/') ? 'selected' : 'text-link'" [routerLink]="'/'">ACASĂ</a></li>
        <li><a [ngClass]="isActive('/events') ? 'selected' : 'text-link'" [routerLink]="'/events'">EVENIMENTE</a></li>
        <li><a [ngClass]="isActive('/contact') ? 'selected' : 'text-link'" [routerLink]="'/contact'">CONTACT</a></li>
    </ul>
</nav>
