<nav>
  <div class="mobile-header-menu">
    <div class="mobile-header">
      <div class="left">
        <a routerLink="/"><img src="/logo-horizontal.svg" alt="Vanadio" class="logo">
        </a>
      </div>
      <div class="right">
        <app-hamburger (click)="openMenu()"
                       [menuOpen]="menuToggle"></app-hamburger>
      </div>
      <app-header-menu
        [menuToggle]="menuToggle"
        (closeMenu)="closeMenuFromChild($event)">
      </app-header-menu>
    </div>
  </div>


  <ul>
    <li><a class="text-link" routerLink="/">ACASĂ</a></li>
    <li><a class="text-link" routerLink="/events">EVENIMENTE</a></li>
    <li><a class="text-link" routerLink="/contact">CONTACT</a></li>
  </ul>
</nav>
