<footer>
    <div class="footer-top">
        
    </div>
    <div class="footer-middle">
        <div class="footer-left-col">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Fusce tincidunt arcu quis porta mollis. 
                Donec fringilla id nisi sit amet condimentum. 
            </p>
        </div>
        <div class="footer-center-col">
            <img src="logo-vertical.svg" alt="Vanadio" class="footer-logo"/>
        </div>
        <div class="footer-right-col">
            <div class="footer-legal">
                <ul>
                    <li>Protectia datelor personale</li>
                    <li>Termeni si conditii</li>
                </ul>
            </div>
            <div class="footer-socials">
                <a href=""><div class="footer-social" id="footer-insta"></div></a>
                <a href=""><div class="footer-social" id="footer-fb"></div></a>
                <a href=""><div class="footer-social" id="footer-whatsapp"></div></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        © 2024 ALL RIGHTS RESERVED
    </div>
</footer>
