<nav>
  <div class="mobile-header-menu">
    <div class="mobile-header">
      <div class="mobile-header-centering">
        <a routerLink="/"><img src="/logo-horizontal.svg" alt="Vanadio" class="logo"></a>
      
        <app-hamburger (click)="openMenu()" [menuOpen]="menuToggle"></app-hamburger>
      </div>
      <app-header-menu
        [menuToggle]="menuToggle"
        (closeMenu)="closeMenuFromChild($event)">
      </app-header-menu>
    </div>
  </div>
    <ul>
        <li><a [ngClass]="isActive('/') ? 'selected' : 'text-link'" [routerLink]="'/'">ACASĂ</a></li>
        <li><a [ngClass]="isActive('/events') ? 'selected' : 'text-link'" [routerLink]="'/events'">EVENIMENTE</a></li>
        <li><a [ngClass]="isActive('/contact') ? 'selected' : 'text-link'" [routerLink]="'/contact'">CONTACT</a></li>
    </ul>
</nav>
