.container {
  width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: auto; 
}

p#title {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  margin: 0;
}


.red-line {
  width: 50%; 
  height: 8px;
  background-color: #E52F00; 
  border-radius: 2px;
}

.banner-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center; 
  width: 80%; 
  padding: 1rem; 
}

.banner-content p {
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

#head {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contacts {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 100%; 
}

.banner-contact-row {
  display: flex;
  width: 14rem;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; 
  margin: 2px; 
  padding: 8px;  
}



.form-div{
  margin-top: 2rem;
  margin-bottom: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%; 
  align-items: center; 
}
.registration-background {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 10px #464542;
  background-color: #Ebeae8;
  border-radius: 20px;
  overflow: hidden;
  max-width: 600px; 
}

.registration-content {
  margin: 40px 20px 40px 20px;
}

input[type=text] {
  border: none;
  height: 40px;
  width: 94%;
  margin-bottom: 1rem;
  font-size: 16px;
  border-radius: 6px;
  
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  font-size: 16px;
  border-radius: 6px;
  height: 120px;
  width: 94%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type=text]::placeholder, textarea::placeholder {
  color: #B6B8B7;
}

input[type=text], textarea {
  transition: box-shadow 0.3s ease-out;
  color: #696969;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 2px 2px 20px #767470 ;
}

input[type=text]:focus {
  outline: none;
}

.button-background {
  margin-top: 2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.socials{
  width: 100%;
  background-color: white;
  height: 4rem;
  display: flex;
  justify-content: center;
}

.socials-centering {
  width: 40%;
}
