* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Reduced width */
  height: 40px; /* Reduced height */
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 30px; /* Thinner line width */
  height: 4px; /* Thinner line height */
  background: #696969;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px; /* Thinner line width */
  height: 4px; /* Thinner line height */
  background: #696969;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px); /* Adjust spacing */
}

.menu-btn__burger::after {
  transform: translateY(10px); /* Adjust spacing */
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-30px); /* Adjusted for smaller button */
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(30px, -30px); /* Adjusted for smaller button */
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(30px, 30px); /* Adjusted for smaller button */
}

:host {
  position: absolute;
  z-index: 1;
}
