<div class="registration-background">
    <div class="registration-content">
        <h1>CONTACTEAZĂ-NE</h1>
        <div class="registration-bar"></div>
        <form>
            <input type="text" id="name" placeholder="NUME" class="input-field">
            <input type="text" id="address" placeholder="E-MAIL" class="input-field">
            <textarea placeholder="MESAJ" class="input-field"></textarea>
            <div class="button-background">
                <button class="button-for-page">TRIMITE</button>
            </div>
        </form>
    </div>
</div>
