<div class="presentation-background">
    <div class="presentation-title">
        <p class="title">CE ESTE VANADIO?</p>
    </div>
    <div class="presentation-title-bar"></div>
    <div class="presentation-content">
        <p> 
            Organizăm evenimente de business ce acoperă o gamă 
            variată de subiecte și domenii. Viziunea noastră este aceea 
            de a crea un mediu de invatare interactiv, care sa incurajeze 
            explorarea și dezvoltarea continua a cunostintelor si abilitatilor.
        </p>
        <p> 
            De asemenea ne angajăm să oferim servicii de organizare de evenimente 
            de cea mai înaltă calitate, adaptate nevoilor și obiectivelor fiecărui 
            client. Prin inovație, profesionalism și atenție la detalii, ne străduim 
            să depășim așteptările clienților noștri și să construim relații pe 
            termen lung bazate pe încredere și colaborare.
        </p>
    </div>
    
    <div class="presentation-buttons">
        <button class="button-for-page" id="about">DESPRE NOI</button>
        <button class="button-for-page">CONTACTEAZĂ-NE</button>
    </div>
</div>
