<div class="banner-background">
    <div class="banner-title">
        <p class="title">VĂ STĂM LA DISPOZIȚIE</p>
    </div>
    <div class="banner-content">
        <p>
            Ai intrebări sau vrei să ne comunici ceva? Contactează-ne! 
            Suntem aici pentru tine si promitem să raspundem cat mai repede.
            Trimite-ne un mesaj pe rețelele de socializare, sună-ne, 
            scrie-ne un e-mail sau folosește formularul de pe acesta pagină. 
        </p>
    </div>
    <div class="banner-contact-row">
        <img src="phone.svg" alt="telefon">
        <div class="">+40 729 709 719</div>
    </div>
    <div class="banner-contact-row">
        <img src="email.svg" alt="mail">
        <div class="">contact&#64;vanadio.ro</div>
    </div>
    <div class="banner-contact-row">
        <img src="site.svg" alt="site">
        <div class=""><a href="https://www.vanadio.ro">vanadio.ro</a></div>
    </div>
    <div class="socials">
        <app-socials></app-socials>
    </div>
</div>
