<div class="home">
    <div class="home-background">
        <app-color-banner></app-color-banner>
    </div>
    <div class="home-logo">
        <app-logo-card></app-logo-card>
    </div>
    <div class="home-presentation">
        <app-presentation></app-presentation>
    </div>

    
    <div class="mobile-title"><p class="title">Vanadio Academy</p></div>
    <div class="mobile-subtitle"><p class="subtitle">FII EXTRAORDINAR</p></div>
    <div class="mobile-line"></div>
    <div class="mobile-logo"><app-logo-card></app-logo-card></div>
    <div class="mobile-presentation"><app-presentation></app-presentation></div>
</div>
